{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Cookie Consent-->
    <!-- Start cookieyes banner -->
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/1d78db056d73bd73b6a454b3.js"></script>
    <!-- End cookieyes banner -->
    <meta name="google-site-verification" content="Dn9WrlHkDKxtHQwPTLS4ijr6_2bW8zYFZdyQ0krO7uo" />
    <!--Cookie Script-->

    <link rel="shortcut icon" type="image/png" href="{% static 'fn.ico' %}" />
    <meta name="Description" content="Foggy Notions Music & Concerts" />
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d5e3ed6ffa.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Foggy Notions{% block extra_title %}{% endblock %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CME559KJEZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CME559KJEZ');
    </script>

</head>

<body>
    {% block header %}

    <section>
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <a class="navbar-brand visible-xs-block text-center" href="{% url 'home' %}">Foggy Notions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbar-list" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-list">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">News<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'concerts' %}">Concerts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Festivals
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://www.foggynotions.ie/festivals/festival/musictown-2021">Musictown</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block contact %}

    {% if messages %}
    {% for message in messages %}
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <p id="message">{{ message }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <section>
        <div class="container-fluid pt-5" id="contact">
            <div class="row justify-content-center">
                <div class="col-12 mx-auto text-center">
                </div>
            </div>
            <!--Email subscription Form -->
            <form class="text-center" id="form" method="POST" action="">
                {% csrf_token %}

                <div class="form-group mx-sm-3 mb-2">

                    <h5>Subscribe to our Mailing List</h5>
                    <input class="btn-outline page-button" type="email" name="email" placeholder="Enter Email">
                    <button class="page-button mt-2" id="site-button" type="submit">Submit</button>
                </div>

            </form>
        </div>
        <div class="list-inline text-center">
            <a href="mailto: info@foggynotions.ie">
                <i class="fas fa-envelope-square small"></i>
            </a>
            <a href="https://www.facebook.com/foggynotionslive" target="_blank">
                <i class="fab fa-facebook small facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/foggy_notions/?hl=en" target="_blank">
                <i class="fab fa-instagram small instagram" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/foggynotions?lang=en" target="_blank">
                <i class="fab fa-twitter small twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC84ZPoMUBaQP27IZKynVTeg/featured" target="_blank">
                <i class="fab fa-youtube small youtube" aria-hidden="true"></i>
            </a>

        </div>
    </section>

    {% endblock %}

    {% block footer %}

    <section>
        <footer>
            <div class="container-fluid mt-3 pt-3 pb-2 text-center" id="footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        Website by <a href="mailto: david@foggynotions.ie" class="photo-credit">
                            David Connaughton
                        </a> 2021©
                    </div>
                </div>
            </div>
        </footer>
    </section>


    {% endblock %}

    {% block postload_js %}

    {% endblock %}

</body>

</html>