{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <div class="container-fluid" id='concerts'>
        <div class="row justify-content-center">
            <div class="col-12 mx-auto text-center">
                <h2 class="py-5">Upcoming Concerts</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        {% for concert in concerts %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card m-5 mx-auto text-center card-outline">
                <img src="{{ concert.image.url }}" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <div class="artist">
                        <h2 class="card-title">{{ concert.artist }} {% if concert.artist_one %}& {{ concert.artist_one }} {% endif %}</h2>
                    </div>
                    <h3 class="card-text">{{ concert.venue }}</h3>
                    <h3 class="card-text">{{ concert.date_one }} {% if concert.date_two %}& {{ concert.date_two }} {% endif %} {% if concert.date_three %} & {{ concert.date_three }} {% endif %}</h3>
                    <a href="{% url 'concert_details' concert.slug %}" class="btn btn-outline page-button">
                        <i class="fas fa-info-circle concert-info"></i>
                        Details
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}