{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block extra_title %}-{{ concert.artist }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 mt-3 pt-3 mx-auto text-center">
        <div class="row">
            <div class="col-12 mb-2">
                <div class="card mx-auto mb-5 text-center card-outline" id="concert-image">
                    <img src="{{ concert.image.url }}" alt="Card image cap" class="card-img-top">
                </div>
                <h2>Presented by {{ concert.presented_by }}</h2>
                <br />
                {% if concert.in_association_with %}
                <p>In association with {{ concert.in_association_with }}</p>
                {% endif %}
                <br />
                <h3>{{ concert.artist }} {% if concert.artist_one %}& {{ concert.artist_one }} {% endif %}</h3>
                <br />
                <h3>{{ concert.venue }}</h3>
                <br />
                <h3>{{ concert.date_one }} {% if concert.date_two %}& {{ concert.date_two }} {% endif %} {% if concert.date_three %} & {{ concert.date_three }} {% endif %}</h3>
                <br />
                <h3>{{ concert.time }}</h3>
                <br />
                <div class="container-fluid text-center">
                    <small>Ticket Link</small>
                    <br />
                    <a href="{{ concert.tickets }}" class="btn btn-outline page-button text-center mb-4" target="_blank">
                        <i class="fas fa-ticket-alt concert-info"></i>
                        Tickets
                    </a>
                </div>
                {% if concert.tickets_1 %}
                <div class="container-fluid text-center">
                    <small>Additional Ticket Link</small>
                    <br />
                    <a href="{{ concert.tickets_1 }}" class="btn btn-outline page-button text-center mb-4" target="_blank">
                        <i class="fas fa-ticket-alt concert-info"></i>
                        Tickets
                    </a>
                </div>
                {% endif %}
                <br />
                <span>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&width=67&height=20&appId"
                        width="67" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                    </iframe>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                    </script>
                </span>
                <br />
                <a href="{% url 'concerts' %}" class="btn btn-outline page-button text-center mt-4">
                    <i class="fas fa-arrow-circle-left fa-lg concert-info">
                    </i>
                    All Concerts
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <h2 class="text-center my-5">{{ concert.artist }} {% if concert.artist_one %}& {{ concert.artist_one }} {% endif %}</h2>
    {{ concert.content|safe }}
</div>
<br />
<div class="container-fluid">
    <div class="text-center my-5">
        <a href="{{ concert.artist_website }}" target="_blank" class="photo-credit">
            <i class="fas fa-music concert-info"></i>
            {{ concert.artist }} Website
        </a>
        <br />
        {% if concert.artist_website_one %}
        <a href="{{ concert.artist_website_one }}" target="_blank" class="photo-credit mt-3">
            <i class="fas fa-music concert-info"></i>
            {{ concert.artist_one }} Website
        </a>
        {% endif %}
    </div>
</div>


<div class="container-fluid">
    {% video concert.video as my_video %}
    <div class="embed-responsive embed-responsive-16by9">{% video my_video 'medium' %}</div>
    {% endvideo %}
</div>

<div class="container-fluid text-center">
    <a href="{% url 'concerts' %}" class="btn btn-outline page-button text-center mt-4">
        <i class="fas fa-arrow-circle-left fa-lg concert-info">
        </i>
        All Concerts
    </a>
</div>

{% endblock %}