{% extends "base.html" %}
{% load static %}

{% block extra_title %}-Strings{% endblock %}

{% block content %}

<section>
    <div class="container-fluid" id='concerts'>
        <div class="row justify-content-center">
            <div class="col-12 mx-auto text-center">
                <h2 class="py-5">Strings</h2>
            </div>
        </div>
    </div>
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
</button>

<section>
    <div class="row">
        {% for string in strings %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card m-5 mx-auto text-center card-outline">
                <img src="{{ string.image.url }}" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <div class="artist">
                        <h2 class="card-title">{{ string.artist }} {% if string.artist_one %}& {{ string.artist_one }} {% endif %}</h2>
                    </div>
                    <h3 class="card-text">{{ string.venue }}</h3>
                    <h3 class="card-text">{{ string.date_one }} {% if string.date_two %}& {{ string.date_two }} {% endif %} {% if string.date_three %} & {{ string.date_three }} {% endif %}</h3>
                    <a href="{% url 'string_details' string.slug %}" class="btn btn-outline page-button">
                        <i class="fas fa-info-circle concert-info"></i>
                        Details
                    </a>
                    <a href="{{ string.tickets }}" class="btn btn-outline page-button text-center" target="_blank">
                        <i class="fas fa-ticket-alt concert-info"></i>
                        Tickets
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block postload_js %}

<script>

    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}